NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3333
DATABASE_URL=postgresql://cvforge:secret@postgres:5432/cvforge
REDIS_URL=redis://redis:6379
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=cvforge
MINIO_SECRET_KEY=secretminio
PUPPETEER_URL=http://puppeteer:3002
OPENROUTER_API_KEY=
MISTRAL_API_KEY=
STRIPE_SECRET_KEY=
